<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity.Name</span>
        <a href="Logout" class="btn btn-link">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Registro">Registro</a>
        <a href="Login" class="btn btn-link">Log In</a>
    </NotAuthorized>
</AuthorizeView>