@page "/"
@page "/index"
@* @inject ServicesSingleton singleton *@
@inject IRepository repositorio

@* Modifica el título de la página, el que aprece en la pestaña *@
<PageTitle>MyFilmList</PageTitle>

<div>
	<h3>En Cartelera</h3>
	@*@ref="listadoPeliculas"*@
	<ListadoPeliculas Peliculas="EnCartelera" />
</div>

<div>
	<h3>Próximos Estrenos</h3>
	@*@ref="listadoPeliculas"*@
	<ListadoPeliculas Peliculas="FuturosEstrenos" />
</div>

@code {
	public List<PeliculaGrupoDTO>? FuturosEstrenos { get; set; }
	public List<PeliculaGrupoDTO>? EnCartelera { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var respuestaHTTP = await repositorio.Get<HomePageDTO>("api/peliculas");

		if (respuestaHTTP.HttpResponseMessage.IsSuccessStatusCode)
		{
			FuturosEstrenos = respuestaHTTP.Response.ProximosEstrenos;
			EnCartelera = respuestaHTTP.Response.PeliculasEnCartelera;
		}
		else
		{
			Console.WriteLine(respuestaHTTP.HttpResponseMessage.StatusCode);
		}
	}
}